[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

click = "*"
gitpython = "*"
"ruamel.yaml" = "*"
"e1839a8" = {path = ".", editable = true}
prompt-toolkit = "*"


[dev-packages]

ptpython = "*"


[requires]

python_version = "3.6"
